@import "tailwindcss";

@layer base {
  :root {
    --color-terracotta: #c47b5a;
    --color-softgreen: #7a9161;
    --color-beige: #f3e9dd;
    --color-darkgreen: #3e4c3b;

    --font-heading: "Playfair Display", serif;
    --font-body: "Open Sans", sans-serif;
  }

  body {
    @apply bg-beige text-darkgreen font-body;
  }
}

@theme {
  --color-terracotta: var(--color-terracotta);
  --color-softgreen: var(--color-softgreen);
  --color-beige: var(--color-beige);
  --color-darkgreen: var(--color-darkgreen);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}
